@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin:0;
    padding:0;
}

:root{
    --cor-primaria: #251B37;
    --cor-secundaria: #FFECEF;
    --cor-terciaria: #FFCACA; 
    --cor-rover: #372948;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal)

}

.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria)
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap:16px;
    border: 2px solid var(--cor-terciaria);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-rover);
}

.apresentacao__imagem {
    width: 35%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var();
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        width: 50%;
    }
}